html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.appbar {
    position: fixed !important;
    height: 60px !important;
    top: 0;
}

.navigator {
    position: fixed;
    top: 60px;
    left: 0;
    border-right: 1px solid #d1d1d1;
    height: 100%;
}

.leftNav {
    position: relative !important;
    box-shadow: none !important;
    width: 200px !important;
    padding-top: 10px;
    box-sizing: border-box;
}

.content {
    position: relative;
    margin-top: 60px;
    margin-left: 200px;
    width: 100%;
    height: 100%;
    padding: 20px;
}